<center>
  <br>
  <h5>Sistem Presensi Online</h5>
  <h3>SMA Hacktiv8 Jakarta</h3>
  <h5>Kebayoran Lama - Jakarta Selatan - Indonesia</h5>
  <a href="/"><button type="button" name="button" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Home</button></a>
  <a href="/students"><button type="button" name="button" class="btn btn-info"><span class="glyphicon glyphicon-education"></span> Student</button></a>
  <a href="/subjects"><button type="button" name="button" class="btn btn-success"><span class="glyphicon glyphicon-blackboard"></span> Subjects</button></a>
  <a href="/users"><button type="button" name="button" class="btn btn-warning"><span class="glyphicon glyphicon-user"></span> Users</button></a>
  <a href="/logout"><button type="button" name="button" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span> Logout</button></a>
<br><br>
</center>
